/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */



.content {
   box-sizing: border-box;
   width: 1200px;
   height: 1600px;
   
   border: 4px dotted;


    
}

header {
    width: 100%;
    
}

.nav-item {
    padding: 5px 50px;
    margin: 10px 15px 15px 0px;
    display: inline-block;
    
}

.logo {
    
    position:absolute;
    padding: 5px 50px;
}

section {
    border: none solid;
    display:inline-block;
    padding: 20px;
    margin-left: 250px;
    margin-right: 250px;
    vertical-align: top;
    
    
     
}

p.section-item  {
    text-align: center;
    text-transform: uppercase;
    font-style: oblique;
    font-weight: bolder;
    font-size: 60px;
    font-family: fantasy;
    
    
    
    
}

button.section-item {
    background-color: white;
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-left: 120px;
    margin-right: 120px;
    
    font-size: 15px;
    
    

}

img.section-item {
    
    float: right;
    border: none dotted;
    margin-left: 100px;
        
    
}

div.section-item {
    float: left;
    border: none dotted;
    margin-top: 15%;
    margin-right: 
    
}

a {
    
    text-decoration: none;
    color: gray;
    
}